@media print {
  * {
    print-color-adjust: exact !important;
  }

  html {
    color: theme("colors.zinc.900") !important;
    background: white;
  }

  body {
    background: white !important;
    overflow-y: auto;
  }

  @page {
    margin: 0.5cm;
    padding-bottom: 64px;
    background: white;
  }

  .paper {
    width: 100%;
    height: 100%;
    background: white;

    clear: both;
    page-break-after: always;

    &:last-of-type {
      clear: none;
      page-break-after: avoid;
    }
  }

  .page-break {
    clear: both;
    page-break-after: always;
  }

  .hide-print {
    display: none;
  }

  footer {
    width: 100%;
    text-align: center;
    position: fixed !important;
    bottom: 0px !important;
    border-top: 1px solid theme("colors.zinc.900");
  }
}

.print-view {
  display: flex;
  flex-direction: column;
  gap: 16px;

  table {
    width: 100%;
    background: white;
    font-size: 14px;

    thead {
      tr {
        border-bottom: 1px solid theme("colors.zinc.900");

        th {
          text-align: left;
          padding: 0px 8px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid theme("colors.zinc.900");
        &.weekend {
          background: theme("colors.zinc.200");
        }

        td {
          text-align: left;
          padding: 0px 8px;
        }
      }
    }
  }

  @media not print {
    .paper {
      max-width: 1024px;
      width: 100%;
      margin: auto;
      aspect-ratio: 210 / 297;
      background: white;
      padding: 2rem;
      color: theme("colors.zinc.900");
    }
  }
}

body.print {
  overflow-y: auto !important;
  padding: 16px 0px;
}
