.notification {
  color: theme("colors.zinc.300");
  background: theme("colors.zinc.900");
  border: 1px solid currentColor;
  padding: 8px 16px;
  width: 300px;
  box-shadow: theme("boxShadow.lg");

  &-title {
    font-size: theme("fontSize.lg");
    width: 100%;

    & + .notification-description {
      border-top: 1px solid currentColor;
      padding-top: 4px;
    }
  }

  &-description {
    font-weight: theme("fontWeight.light");
  }

  &[data-type="error"] {
    color: theme("colors.red.500");
  }

  &[data-type="success"] {
    color: theme("colors.lime.500");
  }
}
