@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  background: theme("colors.zinc.900");
  color: theme("colors.zinc.100");

  outline-color: theme("colors.lime.500") !important;
}

@layer base {
  h1 {
    font: {
      size: theme("fontSize.4xl");
      weight: theme("fontWeight.bold");
    }
  }
}
